<h1>新規予約追加</h1>

<%= form_with model: @reservation, url: admin_reservations_path, local: true do |f| %>
  <div>
    <%= f.label :schedule_id, '映画とスケジュール' %><br>
    <%= f.collection_select :schedule_id, @schedules, :id, ->(s) { "#{s.movie.name} - #{s.start_time.strftime('%Y-%m-%d %H:%M')}" }, prompt: true %>
  </div>

  <div>
    <%= f.label :sheet_id, '座席' %><br>
    <%= f.collection_select :sheet_id, @sheets, :id, ->(sheet) { "#{sheet.row}#{sheet.column}" }, prompt: true %>
  </div>

  <div>
    <%= f.label :date, '日付' %><br>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :name, '予約者氏名' %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, 'メールアドレス' %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.submit '予約を追加' %>
  </div>
<% end %>
