<table border="1">
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>公開年</th>
    <th>上映中</th>
    <th>概要</th>
    <th>画像</th>
    <th>登録日時</th>
    <th>更新日時</th>
    <th>操作</th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><a href="<%= edit_admin_movie_path(movie) %>"><%= movie.id %></a></td>
      <td><%= movie.name %></td>
      <td><%= movie.year %></td>
      <td><%= movie.is_showing ? "上映中" : "上映予定" %></td>
      <td><%= simple_format(movie.description) %></td>
      <td>
        <% if movie.image_url.present? %>
          <img src="<%= movie.image_url %>" alt="<%= movie.name %> の画像" width="100">
        <% else %>
          なし
        <% end %>
      </td>
      <td><%= movie.created_at %></td>
      <td><%= movie.updated_at %></td>
      <td><a href="<%= edit_admin_movie_path(movie) %>">編集</a></td>
    </tr>

    <% if movie.schedules.any? %>
      <tr>
        <td colspan="9">
          <strong>上映スケジュール:</strong>
          <ul>
            <% movie.schedules.each do |schedule| %>
              <li>
                <%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %> 〜
                <%= schedule.end_time.strftime("%Y-%m-%d %H:%M") %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>