<h1>上映スケジュール一覧</h1>

<% @movies.each do |movie| %>
  <h2>作品ID: <%= movie.id %> - <%= movie.name %></h2>

  <% if movie.schedules.any? %>
    <ul>
      <% movie.schedules.each do |schedule| %>
        <li>
          開始時刻: <%= schedule.start_time.strftime("%H:%M") %>
          - 終了時刻: <%= schedule.end_time.strftime("%H:%M") %>
          <%= link_to "詳細", admin_schedule_path(schedule) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p style="color: gray;">スケジュールは未登録です</p>
  <% end %>

  <%= link_to "＋スケジュール追加", new_admin_movie_schedule_path(movie), class: "btn btn-primary" %>
<% end %>