<!DOCTYPE html>
<html>
<head>
  <title>映画管理システム</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav style="background-color: #f8f8f8; padding: 10px;">
    <%= link_to "🎬 映画一覧", movies_path %> |
    <%= link_to "🎟 座席一覧", sheets_path %> |
    <%= link_to "🛠 管理映画", admin_movies_path %> |
    <%= link_to "📅 管理スケジュール", admin_schedules_path %> |
    <%= link_to "📋 管理予約", admin_reservations_path %>
  </nav>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>  <!-- ここに各ビューのコンテンツが挿入される -->
</body>
</html>